@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/home_styles.css">
    <title>Manage It</title>
</head>
<body>
    <div id="container">
        <div id="block"></div>
        <div id="text" class="text">
            <p id="title">MANAGE IT</p>
            <p id="subtext">The new Tool to Manage your School Stuff</p>
        </div>
    </div>
</body>
</html>